**.p3d
Dev Files Objects/**/*
FA_Weapons_VKN_Dev/**/*
Dev Files/**/*
Images/**/*
TRYK**/**/*
To Add/**/*/
VKN_Languages/de_tabler/**/*
VKN_Languages/tabler/**/*
**.ini
**.rar
**.zip
**.spp
**.png
**.ogg
**.wss
**.wav
**.xcf
**.exe
