**.p3d
Dev Files Objects/**/*
FA_Weapons_VKN_Dev/**/*
Dev Files/**/*
Images/**/*
TRYK**/**/*
To Add/**/*/
**.ini
**.rar
**.zip
**.spp
**.png
**.ogg
**.wss
**.wav
**.xcf
VKN_Languages/de_Stringtabler.exe
VKN_Languages/de_tabler/d3dcompiler_47.dll
VKN_Languages/de_tabler/de_Stringtabler.exe
VKN_Languages/de_tabler/libEGL.dll
VKN_Languages/de_tabler/libGLESv2.dll
VKN_Languages/de_tabler/opengl32sw.dll
VKN_Languages/de_tabler/Qt5Core.dll
VKN_Languages/de_tabler/Qt5Gui.dll
VKN_Languages/de_tabler/Qt5Svg.dll
VKN_Languages/de_tabler/Qt5Widgets.dll
VKN_Languages/de_tabler/vc_redist.x64.exe
VKN_Languages/de_tabler/iconengines/qsvgicon.dll
VKN_Languages/de_tabler/imageformats/qgif.dll
VKN_Languages/de_tabler/imageformats/qicns.dll
VKN_Languages/de_tabler/imageformats/qico.dll
VKN_Languages/de_tabler/imageformats/qjpeg.dll
VKN_Languages/de_tabler/imageformats/qsvg.dll
VKN_Languages/de_tabler/imageformats/qtga.dll
VKN_Languages/de_tabler/imageformats/qtiff.dll
VKN_Languages/de_tabler/imageformats/qwbmp.dll
VKN_Languages/de_tabler/imageformats/qwebp.dll
VKN_Languages/de_tabler/platforms/qwindows.dll
VKN_Languages/de_tabler/styles/qwindowsvistastyle.dll
VKN_Languages/de_tabler/translations/qt_ar.qm
VKN_Languages/de_tabler/translations/qt_bg.qm
VKN_Languages/de_tabler/translations/qt_ca.qm
VKN_Languages/de_tabler/translations/qt_cs.qm
VKN_Languages/de_tabler/translations/qt_da.qm
VKN_Languages/de_tabler/translations/qt_de.qm
VKN_Languages/de_tabler/translations/qt_en.qm
VKN_Languages/de_tabler/translations/qt_es.qm
VKN_Languages/de_tabler/translations/qt_fi.qm
VKN_Languages/de_tabler/translations/qt_fr.qm
VKN_Languages/de_tabler/translations/qt_gd.qm
VKN_Languages/de_tabler/translations/qt_he.qm
VKN_Languages/de_tabler/translations/qt_hu.qm
VKN_Languages/de_tabler/translations/qt_it.qm
VKN_Languages/de_tabler/translations/qt_ja.qm
VKN_Languages/de_tabler/translations/qt_ko.qm
VKN_Languages/de_tabler/translations/qt_lv.qm
VKN_Languages/de_tabler/translations/qt_pl.qm
VKN_Languages/de_tabler/translations/qt_ru.qm
VKN_Languages/de_tabler/translations/qt_sk.qm
VKN_Languages/de_tabler/translations/qt_tr.qm
VKN_Languages/de_tabler/translations/qt_uk.qm
VKN_Languages/de_tabler/translations/qt_zh_TW.qm
VKN_Languages/tabler/Microsoft.WindowsAPICodePack.dll
VKN_Languages/tabler/Microsoft.WindowsAPICodePack.Shell.dll
VKN_Languages/tabler/Octokit.dll
VKN_Languages/tabler/tabler.exe
VKN_Languages/tabler/tabler.exe.CodeAnalysisLog.xml
VKN_Languages/tabler/tabler.Logic.dll
VKN_Languages/tabler/config/config.xml
VKN_Languages/tabler/de/tabler.resources.dll
VKN_Languages/tabler/ru/tabler.resources.dll
